:root {


  --color-primary: #386293;
  --color-bg: #1f2641;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;



}


.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}


.calculator__container {
  height: 100%;

  
}


.calculator {
  display: flex;
  
  flex-direction: column;
  border: 1px solid;

}


.display {
  height: 10rem;
  
  
}

.display__text {
  margin: 0 auto;
  width: 40%;
  margin-top: 5rem;
  border: 1px solid;
  height: 1rem;
}

.buttons {
  display: flex;
  
}

.operators {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex: 1;
}

.numberbuttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex: 2;
}


